script src="https://dme0ih8comzn4.cloudfront.net/imaging/v3/editor.js"

javascript:
  var featherEditor = new Aviary.Feather({
      apiKey: '#{Musicard.config.ADOBE_IO_ID}',
      tools: ['text', 'draw', 'effects', 'frames', 'focus', 'colorsplash', 'vignette'],
      onSave: function(imageID, newURL) {
          var img = document.getElementById(imageID);
          var tracklink = document.getElementById("inputLink").value;
          featherEditor.close();
          img.src = post_to_url("/image", newURL, tracklink);
          var img_meta = document.createElement("meta");
          img_meta.setAttribute("property", "og:image");
          img_meta.setAttribute("content", img.src);
          document.getElementsByTagName('head')[0].appendChild(img_meta);
      }
  });

  function launchEditor(id, src) {
      featherEditor.launch({
          image: id,
          url: src
      });
      return false;
  }

  function openEdit(){
    return launchEditor('editableimage1', document.getElementById("editableimage1").src);
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '538241709633900',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function share_to_FB() {
    FB.ui({
      method: 'feed',
      picture: document.getElementById("editableimage1").src,
    }, function(response){});
  }

  function post_to_url(path, params, tracklink) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", path);
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "url");
    hiddenField.setAttribute("value", params);
    form.appendChild(hiddenField);
    var trackField = document.createElement("input");
    trackField.setAttribute("type", "hidden");
    trackField.setAttribute("name", "link");
    trackField.setAttribute("value", tracklink);
    form.appendChild(trackField);
    document.body.appendChild(form);
    form.submit();
  }

  function copyToClipBoard(el) {
    // non-IE
    var editable = el.contentEditable; // Record contentEditable status of element
    var readOnly = el.readOnly; // Record readOnly status of element
    el.contentEditable = true; // iOS will only select text on non-form elements if contentEditable = true;
    el.readOnly = false; // iOS will not select in a read only form element
    var range = document.createRange();
    range.selectNodeContents(el);
    var sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range); // Does not work for Firefox if a textarea or input
    if (el.nodeName == "TEXTAREA" || el.nodeName == "INPUT")
      el.select(); // Firefox will only select a form element with select()
    if (el.setSelectionRange && navigator.userAgent.match(/ipad|ipod|iphone/i))
      el.setSelectionRange(0, 999999); // iOS only selects "form" elements with SelectionRange
    el.contentEditable = editable; // Restore previous contentEditable status
    el.readOnly = readOnly; // Restore previous readOnly status
    if (document.queryCommandSupported("copy")){
      var successful = document.execCommand('copy');
      if (successful) alert("Copied to clipboard.");
      else alert("Press CTRL+C to copy");
    }
    else
    {
      if (!navigator.userAgent.match(/ipad|ipod|iphone|android|silk/i))
      alert("Press CTRL+C to copy");
    }
  }

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

div class="row"
  div class="col-xs-6 col-sm-4 col-sm-offset-2" align="center"
    button class="btn btn-info btn-block" id="edit-img" onclick="openEdit()"
      span class="glyphicon glyphicon-pencil" aria-hidden="true" &nbsp;Edit
  div class="col-xs-6 col-sm-4" align="center"
    button id="sharefb" class="btn btn-primary btn-block" onclick="share_to_FB()"
      span class="fa fa-facebook" aria-hidden="true" &nbsp;&nbsp;&nbsp;FB share
br

div class="row"
  div class="col-xs-12 col-sm-8 col-sm-offset-2"
    p class="text-muted" copy the music link to clipboard:
    div class="input-group"
      input type="text" class="form-control" id="inputLink" value="#{@track_url}"
      div class="input-group-btn"
        button{
          class="btn btn-default" type="submit" onclick="copyToClipBoard(document.getElementById('inputLink'))"
          data-toggle="tooltip" title="Copy to clipboard!"
        }
          i class="glyphicon glyphicon-copy"

br
input type='hidden' id='track_url' value="#{@track_url}"

div class="row"
  div class="col-sm-8 col-sm-offset-2" align="center"
    img{
      id="editableimage1" src="#{@image_url}"
      style="width: 100%; height: auto;"
    }

div class="tooltip top" role="tooltip"
  div class="tooltip-arrow"
  div class="tooltip-inner"
    Copy to clipboard!

javascript:
  $(document).ready(function(){
    if($(window).width() < 780)
      $("#edit-img").addClass("disabled").attr("disabled", true);

    $(window).resize(function(){
      var empty = ( $(window).width() < 780 );
      $("#edit-img").toggleClass('disabled', empty);
      if(empty)
        $("#edit-img").attr("disabled", empty);
      else
        $("#edit-img").attr("disabled", empty);
    });
  });
