body
  script src="https://dme0ih8comzn4.cloudfront.net/imaging/v3/editor.js"

  javascript:
    var featherEditor = new Aviary.Feather({
        apiKey: '#{Musicard.config.ADOBE_IO_ID}',
        onSave: function(imageID, newURL) {
            var img = document.getElementById(imageID);
            img.src = newURL;
            featherEditor.close();
        }
    });

    function launchEditor(id, src) {
        featherEditor.launch({
            image: id,
            url: src
        });
        return false;
    }

    function openEdit(){
      return launchEditor('editableimage1', document.getElementById("editableimage1").src);
    }

  img id="editableimage1" src="#{@image_url}"

  <button class="btn btn-success" id=​"edit-img" onclick="openEdit()">Edit</button>
